# imports

In [ ]:
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Point
import copy
import numpy as np
import os
from display_aux import *
from vessels import VESSELES
from df_aux import *
from time_aux import *

In [9]:
# Set display options to show all rows and columns
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)

# Run definitions

In [10]:

params = {}
# params['input_csv_file_name_full'] = 'C:\\gilad\\work\\tip_and_que\\data\\AIS\\TipandCue_DataSample_CSV\\exactEarth_historical_data_02_2023.csv'
params['input_csv_file_name_full'] = 'debug_data_base.csv'

params['min_date'] = None
params['max_date'] = None
params['columns_list_keep'] = ['Time','MMSI','IMO','Vessel_Name','Ship_Type','Longitude','Latitude','Message_ID','Accuracy','Heading','COG','Fixing_device','Destination_ID','offset1','Offset_2','Offset_3','Offset_4','ATON_type','ATON_name','GNSS_status']
params['filter_vessels_df_dic'] = {
          'max_time_diff[mins]':['<=',30]
          }
params['reload'] = False
params['export_to_excel'] = False
params['ana_vessel_name'] = 'EYVAN'

# Functions

## df aux functions

## Plot Functions

In [11]:
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib.ticker import MaxNLocator
def plot_df_column_vs_time(df,column_name,time_column_name='Time'):

    # Sample data
    dates = df[time_column_name].dt.strftime('%Y-%m-%d %H:%M:%S').to_list()
    values = df[column_name]

    # Create a figure with a larger size
    plt.figure(figsize=(7, 4))

    # Create a line plot
    plt.plot(dates, values)

    # Rotate x-tick labels by 45 degrees and change their font size
    plt.xticks(rotation=45, fontsize=12, ha='right')


    # Use MaxNLocator to reduce the number of ticks
    ax = plt.gca()
    ax.xaxis.set_major_locator(MaxNLocator(nbins=5))  # Adjust the number of bins as needed

    # Add labels and title
    plt.xlabel('Date and Time')
    plt.ylabel('Values')
    plt.title('Plot with Rotated and Formatted x-tick Labels')

    # Add grid
    plt.grid(True)

    # Adjust layout to prevent clipping of tick-labels
    plt.tight_layout()

    # Optionally adjust the subplots manually
    plt.subplots_adjust(bottom=0.2)

    # Show the plot
    plt.show()

In [12]:
# Create an instance of the VESSELES class
vessels = VESSELES()

# Read the file

In [13]:
# df_org = vessels.load_data(params['input_csv_file_name_full'],columns_list_keep=params['columns_list_keep'],reload=params['reload'],remove_problematic_parts=False)
df = vessels.load_data(params['input_csv_file_name_full'],columns_list_keep=params['columns_list_keep'],reload=params['reload'],remove_problematic_parts=True,to_print=True)

Loading DataFrame from debug_data_base.pkl

KeyboardInterrupt:

In [ ]:
vessels.pre_process_Vessel_Name_based(df,to_print=False,Vessel_Names=None)

pre_process_Vessel_Name_based
------------------------------
processing Vessel_Name 0 out of 3001
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
processing Vessel_Name 10 out of 3001
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : 263874    0.0
Name: IMO, dtype: float64
Ship_Type : 263874    70.0
Name: Ship_Type, dtype: float64
IMO : Series([], Name: IMO, dtype: float64)
IMO : 13653     0.0
33044     0.0
39771     0.0
71452     0.0
113613    0.0
         ...
247988    0.0
264431    0.0
279791    0.0
282646    0.0
305481    0.0
Name: IMO, Length: 16, dtype: float64
Ship_Type : 13653     30.0
33044     30.0
39771     30.0
71452     30.0
113613    30.0
          ...
247988    30.0
264431    30.0
279791    30.0
282646    30.0
305481    30.0
Name: Ship_Type, Length: 16, dtype: float64
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : 24958     0.0
76164     0.0
96348     0.0
98878     0.0
106332    0.0
         ...
232751    0.0
249815    0.0
261459    0.0
265397    0.0
297848    0.0
Name: IMO, Length: 20, dtype: float64
Ship_Type : 24958     70.0
76164     70.0
96348     70.0
98878     70.0
106332    70.0
          ...
232751    70.0
249815    70.0
261459    70.0
265397    70.0
297848    70.0
Name: Ship_Type, Length: 20, dtype: float64
processing Vessel_Name 20 out of 3001
IMO : 64389     0.0
89534     0.0
110250    0.0
127979    0.0
164396    0.0
         ...
201941    0.0
223120    0.0
277948    0.0
287271    0.0
292690    0.0
Name: IMO, Length: 14, dtype: float64
Ship_Type : 64389     70.0
89534     70.0
110250    70.0
127979    70.0
164396    70.0
          ...
201941    70.0
223120    70.0
277948    70.0
287271    70.0
292690    70.0
Name: Ship_Type, Length: 14, dtype: float64
IMO : 179439    0.0
236714    0.0
Name: IMO, dtype: float64
Ship_Type : 179439    70.0
236714    70.0
Name: Ship_Type, dtype: float64
IMO : 44935     0.0
55451     0.0
80759     0.0
110647    0.0
115574    0.0
         ...
236006    0.0
258596    0.0
259019    0.0
279112    0.0
307287    0.0
Name: IMO, Length: 15, dtype: float64
Ship_Type : 44935     30.0
55451     30.0
80759     30.0
110647    30.0
115574    30.0
          ...
236006    30.0
258596    30.0
259019    30.0
279112    30.0
307287    30.0
Name: Ship_Type, Length: 15, dtype: float64
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : 9254      0.0
29046     0.0
46016     0.0
84049     0.0
90322     0.0
         ...
273981    0.0
281342    0.0
282461    0.0
284166    0.0
288079    0.0
Name: IMO, Length: 33, dtype: float64
Ship_Type : 9254      70.0
29046     70.0
46016     70.0
84049     70.0
90322     70.0
          ...
273981    70.0
281342    70.0
282461    70.0
284166    70.0
288079    70.0
Name: Ship_Type, Length: 33, dtype: float64
IMO : Series([], Name: IMO, dtype: float64)
IMO : 12377     0.0
30755     0.0
40203     0.0
61027     0.0
63882     0.0
         ...
270523    0.0
293136    0.0
295737    0.0
300242    0.0
302644    0.0
Name: IMO, Length: 23, dtype: float64
Ship_Type : 12377     70.0
30755     70.0
40203     70.0
61027     70.0
63882     70.0
          ...
270523    70.0
293136    70.0
295737    70.0
300242    70.0
302644    70.0
Name: Ship_Type, Length: 23, dtype: float64
IMO : Series([], Name: IMO, dtype: float64)
IMO : 1068      9564413.0
3598      9564413.0
6058      9564413.0
9561      9564413.0
19471     9564413.0
            ...
284548    9564413.0
285037    9564413.0
290717    9564413.0
293848    9564413.0
309231    9564413.0
Name: IMO, Length: 47, dtype: float64
Ship_Type : 1068      37.0
3598      37.0
6058      37.0
9561      37.0
19471     37.0
          ...
284548    37.0
285037    37.0
290717    37.0
293848    37.0
309231    37.0
Name: Ship_Type, Length: 47, dtype: float64
processing Vessel_Name 30 out of 3001
IMO : Series([], Name: IMO, dtype: float64)
IMO : 678       7631339.0
7377      7631339.0
110815    7631339.0
136101    7631339.0
170184    7631339.0
            ...
204892    7631339.0
226525    7631339.0
239251    7631339.0
284275    7631339.0
293516    7631339.0
Name: IMO, Length: 11, dtype: float64
Ship_Type : 678       0.0
7377      0.0
110815    0.0
136101    0.0
170184    0.0
         ...
204892    0.0
226525    0.0
239251    0.0
284275    0.0
293516    0.0
Name: Ship_Type, Length: 11, dtype: float64
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : 6541      9612703.0
10069     9612703.0
10999     9612703.0
42866     9612703.0
44368     9612703.0
            ...
287922    9612703.0
291439    9612703.0
295686    9612703.0
296944    9612703.0
307882    9612703.0
Name: IMO, Length: 59, dtype: float64
Ship_Type : 6541      0.0
10069     0.0
10999     0.0
42866     0.0
44368     0.0
         ...
287922    0.0
291439    0.0
295686    0.0
296944    0.0
307882    0.0
Name: Ship_Type, Length: 59, dtype: float64
IMO : 473       9884100.0
3699      9884100.0
10179     9884100.0
12511     9884100.0
13190     9884100.0
            ...
257828    9884100.0
260350    9884100.0
287652    9884100.0
291689    9884100.0
293471    9884100.0
Name: IMO, Length: 27, dtype: float64
Ship_Type : 473       52.0
3699      52.0
10179     52.0
12511     52.0
13190     52.0
          ...
257828    52.0
260350    52.0
287652    52.0
291689    52.0
293471    52.0
Name: Ship_Type, Length: 27, dtype: float64
IMO : 4266      9880219.0
20141     9880219.0
21511     9880219.0
25091     9880219.0
26713     9880219.0
            ...
279449    9880219.0
282349    9880219.0
301564    9880219.0
304195    9880219.0
305692    9880219.0
Name: IMO, Length: 29, dtype: float64
Ship_Type : 4266      70.0
20141     70.0
21511     70.0
25091     70.0
26713     70.0
          ...
279449    70.0
282349    70.0
301564    70.0
304195    70.0
305692    70.0
Name: Ship_Type, Length: 29, dtype: float64
IMO : 13839     9652064.0
52818     9652064.0
69516     9652064.0
82550     9652064.0
97529     9652064.0
            ...
201413    9652064.0
205526    9652064.0
256555    9652064.0
280117    9652064.0
306898    9652064.0
Name: IMO, Length: 19, dtype: float64
Ship_Type : 13839     37.0
52818     37.0
69516     37.0
82550     37.0
97529     37.0
          ...
201413    37.0
205526    37.0
256555    37.0
280117    37.0
306898    37.0
Name: Ship_Type, Length: 19, dtype: float64
IMO : 7178    9437309.0
Name: IMO, dtype: float64
Ship_Type : 7178    70.0
Name: Ship_Type, dtype: float64
IMO : 2108      6622525.0
2605      6622525.0
14348     6622525.0
20499     6622525.0
24740     6622525.0
            ...
293393    6622525.0
297396    6622525.0
299407    6622525.0
302081    6622525.0
306766    6622525.0
Name: IMO, Length: 45, dtype: float64
Ship_Type : 2108      33.0
2605      33.0
14348     33.0
20499     33.0
24740     33.0
          ...
293393    33.0
297396    33.0
299407    33.0
302081    33.0
306766    33.0
Name: Ship_Type, Length: 45, dtype: float64
processing Vessel_Name 40 out of 3001
IMO : 183       9802932.0
28477     9802932.0
34575     9802932.0
37296     9802932.0
41258     9802932.0
            ...
286681    9802932.0
286985    9802932.0
287862    9802932.0
289340    9802932.0
299165    9802932.0
Name: IMO, Length: 40, dtype: float64
Ship_Type : 183       52.0
28477     52.0
34575     52.0
37296     52.0
41258     52.0
          ...
286681    52.0
286985    52.0
287862    52.0
289340    52.0
299165    52.0
Name: Ship_Type, Length: 40, dtype: float64
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : 3369      6413560.0
7278      6413560.0
8320      6413560.0
11539     6413560.0
12325     6413560.0
            ...
287639    6413560.0
288753    6413560.0
302895    6413560.0
303190    6413560.0
306771    6413560.0
Name: IMO, Length: 59, dtype: float64
Ship_Type : 3369      0.0
7278      0.0
8320      0.0
11539     0.0
12325     0.0
         ...
287639    0.0
288753    0.0
302895    0.0
303190    0.0
306771    0.0
Name: Ship_Type, Length: 59, dtype: float64
IMO : 27784     9535527.0
79532     9535527.0
182141    9535527.0
Name: IMO, dtype: float64
Ship_Type : 27784     52.0
79532     52.0
182141    52.0
Name: Ship_Type, dtype: float64
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
IMO : 10572     7340629.0
10856     7340629.0
22225     7340629.0
39786     7340629.0
45646     7340629.0
            ...
264864    7340629.0
284031    7340629.0
284055    7340629.0
288219    7340629.0
295301    7340629.0
Name: IMO, Length: 43, dtype: float64
Ship_Type : 10572     0.0
10856     0.0
22225     0.0
39786     0.0
45646     0.0
         ...
264864    0.0
284031    0.0
284055    0.0
288219    0.0
295301    0.0
Name: Ship_Type, Length: 43, dtype: float64
processing Vessel_Name 50 out of 3001
IMO : 5657      8502470.0
8121      8502470.0
10200     8502470.0
16252     8502470.0
16455     8502470.0
            ...
278850    8502470.0
282877    8502470.0
289309    8502470.0
296013    8502470.0
297289    8502470.0
Name: IMO, Length: 61, dtype: float64
Ship_Type : 5657      70.0
8121      70.0
10200     70.0
16252     70.0
16455     70.0
          ...
278850    70.0
282877    70.0
289309    70.0
296013    70.0
297289    70.0
Name: Ship_Type, Length: 61, dtype: float64
IMO : 20630     9858462.0
34962     9858462.0
36170     9858462.0
50984     9858462.0
51398     9858462.0
            ...
191053    9858462.0
192371    9858462.0
210689    9858462.0
213611    9858462.0
220447    9858462.0
Name: IMO, Length: 22, dtype: float64
Ship_Type : 20630     80.0
34962     80.0
36170     80.0
50984     80.0
51398     80.0
          ...
191053    80.0
192371    80.0
210689    80.0
213611    80.0
220447    80.0
Name: Ship_Type, Length: 22, dtype: float64
IMO : Series([], Name: IMO, dtype: float64)
IMO : 4160      0.0
10847     0.0
33218     0.0
44354     0.0
59669     0.0
         ...
268317    0.0
296340    0.0
298702    0.0
301939    0.0
304232    0.0
Name: IMO, Length: 29, dtype: float64
Ship_Type : 4160      52.0
10847     52.0
33218     52.0
44354     52.0
59669     52.0
          ...
268317    52.0
296340    52.0
298702    52.0
301939    52.0
304232    52.0
Name: Ship_Type, Length: 29, dtype: float64
IMO : 1811      9539339.0
15822     9539339.0
18595     9539339.0
30040     9539339.0
47014     9539339.0
            ...
284459    9539339.0
290270    9539339.0
296359    9539339.0
304399    9539339.0
305526    9539339.0
Name: IMO, Length: 58, dtype: float64
Ship_Type : 1811      70.0
15822     70.0
18595     70.0
30040     70.0
47014     70.0
          ...
284459    70.0
290270    70.0
296359    70.0
304399    70.0
305526    70.0
Name: Ship_Type, Length: 58, dtype: float64
IMO : Series([], Name: IMO, dtype: float64)
IMO : 145       9186704.0
1468      9186704.0
11795     9186704.0
15103     9186704.0
20619     9186704.0
            ...
283823    9186704.0
290214    9186704.0
300351    9186704.0
307984    9186704.0
308841    9186704.0
Name: IMO, Length: 28, dtype: float64
Ship_Type : 145       89.0
1468      89.0
11795     89.0
15103     89.0
20619     89.0
          ...
283823    89.0
290214    89.0
300351    89.0
307984    89.0
308841    89.0
Name: Ship_Type, Length: 28, dtype: float64
IMO : 6654      9254862.0
12991     9254862.0
25040     9254862.0
38447     9254862.0
40469     9254862.0
            ...
254102    9254862.0
272791    9254862.0
277103    9254862.0
288002    9254862.0
307330    9254862.0
Name: IMO, Length: 28, dtype: float64
Ship_Type : 6654      80.0
12991     80.0
25040     80.0
38447     80.0
40469     80.0
          ...
254102    80.0
272791    80.0
277103    80.0
288002    80.0
307330    80.0
Name: Ship_Type, Length: 28, dtype: float64
IMO : Series([], Name: IMO, dtype: float64)
IMO : Series([], Name: IMO, dtype: float64)
processing Vessel_Name 60 out of 3001
IMO : 13324     8771253.0
15160     8771253.0
51283     8771253.0
65098     8771253.0
90764     8771253.0
96389     8771253.0
110314    8771253.0
200022    8771253.0
211266    8771253.0
Name: IMO, dtype: float64
Ship_Type : 13324     99.0
15160     99.0
51283     99.0
65098     99.0
90764     99.0
96389     99.0
110314    99.0
200022    99.0
211266    99.0
Name: Ship_Type, dtype: float64
IMO : 178446    8771265.0
297924    8771265.0
Name: IMO, dtype: float64
Ship_Type : 178446    99.0
297924    99.0
Name: Ship_Type, dtype: float64
IMO : 2941      9623893.0
8702      9623893.0
10909     9623893.0
11918     9623893.0
12316     9623893.0
            ...
284514    9623893.0
290954    9623893.0
295807    9623893.0
296851    9623893.0
297806    9623893.0
Name: IMO, Length: 46, dtype: float64
Ship_Type : 2941      99.0
8702      99.0
10909     99.0
11918     99.0
12316     99.0
          ...
284514    99.0
290954    99.0
295807    99.0
296851    99.0
297806    99.0
Name: Ship_Type, Length: 46, dtype: float64
IMO : 15926     8771277.0
17447     8771277.0
18116     8771277.0
20261     8771277.0
21605     8771277.0
            ...
236115    8771277.0
248795    8771277.0
252083    8771277.0
273128    8771277.0
278424    8771277.0
Name: IMO, Length: 48, dtype: float64
Ship_Type : 15926     99.0
17447     99.0
18116     99.0
20261     99.0
21605     99.0
          ...
236115    99.0
248795    99.0
252083    99.0
273128    99.0
278424    99.0
Name: Ship_Type, Length: 48, dtype: float64
IMO : 6621      8769054.0
9430      8769054.0
22057     8769054.0
23204     8769054.0
28300     8769054.0
            ...
291486    8769054.0
293417    8769054.0
297134    8769054.0
299865    8769054.0
304655    8769054.0
Name: IMO, Length: 54, dtype: float64
Ship_Type : 6621      90.0
9430      90.0
22057     90.0
23204     90.0
28300     90.0
          ...
291486    90.0
293417    90.0
297134    90.0
299865    90.0
304655    90.0
Name: Ship_Type, Length: 54, dtype: float64
IMO : 2892      9362578.0
6083      9362578.0
11571     9362578.0
19157     9362578.0
22275     9362578.0
            ...
253544    9362578.0
267381    9362578.0
277656    9362578.0
290929    9362578.0
293912    9362578.0
Name: IMO, Length: 54, dtype: float64
Ship_Type : 2892      36.0
6083      36.0
11571     36.0
19157     36.0
22275     36.0
          ...
253544    36.0
267381    36.0
277656    36.0
290929    36.0
293912    36.0
Name: Ship_Type, Length: 54, dtype: float64
IMO : 263494    875330400.0
Name: IMO, dtype: float64
Ship_Type : 263494    0.0
Name: Ship_Type, dtype: float64
IMO : 1865      9365843.0
2636      9365843.0
3791      9365843.0
11213     9365843.0
14924     9365843.0
            ...
285915    9365843.0
287734    9365843.0
292922    9365843.0
295694    9365843.0
306754    9365843.0
Name: IMO, Length: 55, dtype: float64
Ship_Type : 1865      79.0
2636      79.0
3791      79.0
11213     79.0
14924     79.0
          ...
285915    79.0
287734    79.0
292922    79.0
295694    79.0
306754    79.0
Name: Ship_Type, Length: 55, dtype: float64
IMO : 4537      9437244.0
8332      9437244.0
9405      9437244.0
15091     9437244.0
15377     9437244.0
            ...
281023    9437244.0
289125    9437244.0
296632    9437244.0
300801    9437244.0
303456    9437244.0
Name: IMO, Length: 59, dtype: float64
Ship_Type : 4537      79.0
8332      79.0
9405      79.0
15091     79.0
15377     79.0
          ...
281023    79.0
289125    79.0
296632    79.0
300801    79.0
303456    79.0
Name: Ship_Type, Length: 59, dtype: float64
IMO : 8629      9243253.0
12930     9243253.0
13251     9243253.0
14618     9243253.0
15376     9243253.0
            ...
296664    9243253.0
297084    9243253.0
298459    9243253.0
301317    9243253.0
302518    9243253.0
Name: IMO, Length: 59, dtype: float64
Ship_Type : 8629      70.0
12930     70.0
13251     70.0
14618     70.0
15376     70.0
          ...
296664    70.0
297084    70.0
298459    70.0
301317    70.0
302518    70.0
Name: Ship_Type, Length: 59, dtype: float64
processing Vessel_Name 70 out of 3001
IMO : 163474    9418183.0
183323    9418183.0
Name: IMO, dtype: float64
Ship_Type : 163474    56.0
183323    56.0
Name: Ship_Type, dtype: float64
IMO : 172152    9628506.0
Name: IMO, dtype: float64
Ship_Type : 172152    70.0
Name: Ship_Type, dtype: float64
IMO : 162732    9725184.0
215638    9725184.0
Name: IMO, dtype: float64
Ship_Type : 162732    70.0
215638    70.0
Name: Ship_Type, dtype: float64
IMO : 12776    9725251.0
Name: IMO, dtype: float64
Ship_Type : 12776    52.0
Name: Ship_Type, dtype: float64
IMO : 224547    9641546.0
Name: IMO, dtype: float64
Ship_Type : 224547    49.0
Name: Ship_Type, dtype: float64
IMO : 87594    9397822.0
Name: IMO, dtype: float64
Ship_Type : 87594    99.0
Name: Ship_Type, dtype: float64
IMO : 8573      9390795.0
44879     9390795.0
73130     9390795.0
142211    9390795.0
142754    9390795.0
176417    9390795.0
268714    9390795.0
Name: IMO, dtype: float64
Ship_Type : 8573      39.0
44879     39.0
73130     39.0
142211    39.0
142754    39.0
176417    39.0
268714    39.0
Name: Ship_Type, dtype: float64
IMO : 247376    9575395.0
Name: IMO, dtype: float64
Ship_Type : 247376    90.0
Name: Ship_Type, dtype: float64
IMO : 173012    9585302.0
Name: IMO, dtype: float64
Ship_Type : 173012    51.0
Name: Ship_Type, dtype: float64
IMO : 12227     9558608.0
23336     9558608.0
41460     9558608.0
42750     9558608.0
50404     9558608.0
            ...
262907    9558608.0
263622    9558608.0
264537    9558608.0
277790    9558608.0
307410    9558608.0
Name: IMO, Length: 31, dtype: float64
Ship_Type : 12227     99.0
23336     99.0
41460     99.0
42750     99.0
50404     99.0
          ...
262907    99.0
263622    99.0
264537    99.0
277790    99.0
307410    99.0
Name: Ship_Type, Length: 31, dtype: float64
processing Vessel_Name 80 out of 3001
IMO : 8628      9709142.0
31429     9709142.0
70310     9709142.0
97596     9709142.0
102889    9709142.0
            ...
192678    9709142.0
208868    9709142.0
220684    9709142.0
222284    9709142.0
295020    9709142.0
Name: IMO, Length: 15, dtype: float64
Ship_Type : 8628      90.0
31429     90.0
70310     90.0
97596     90.0
102889    90.0
          ...
192678    90.0
208868    90.0
220684    90.0
222284    90.0
295020    90.0
Name: Ship_Type, Length: 15, dtype: float64
IMO : 307970    9744049.0
Name: IMO, dtype: float64
Ship_Type : 307970    95.0
Name: Ship_Type, dtype: float64
IMO : 6294      9662021.0
8727      9662021.0
10451     9662021.0
12686     9662021.0
23999     9662021.0
            ...
260855    9662021.0
272205    9662021.0
274535    9662021.0
278254    9662021.0
289965    9662021.0
Name: IMO, Length: 45, dtype: float64
Ship_Type : 6294      89.0
8727      89.0
10451     89.0
12686     89.0
23999     89.0
          ...
260855    89.0
272205    89.0
274535    89.0
278254    89.0
289965    89.0
Name: Ship_Type, Length: 45, dtype: float64
IMO : 42841     9933535.0
223319    9933535.0
267334    9933535.0
Name: IMO, dtype: float64
Ship_Type : 42841     80.0
223319    80.0
267334    80.0
Name: Ship_Type, dtype: float64
IMO : 15789     0.0
34844     0.0
40252     0.0
48019     0.0
49793     0.0
         ...
242688    0.0
252085    0.0
257001    0.0
284455    0.0
285724    0.0
Name: IMO, Length: 25, dtype: float64
Ship_Type : 15789     54.0
34844     54.0
40252     54.0
48019     54.0
49793     54.0
          ...
242688    54.0
252085    54.0
257001    54.0
284455    54.0
285724    54.0
Name: Ship_Type, Length: 25, dtype: float64
IMO : 4658      9577111.0
6457      9577111.0
41175     9577111.0

KeyboardInterrupt:

In [ ]:
Vessel_Name = '12311'
vessel_data = vessels.data_dic[Vessel_Name]
vessel_data

In [ ]:
# Vessel_Name = 'M.V SMURF'
Vessel_Name = '12311'
ID_columns = ['IMO','Ship_Type']
vessel_data = vessels.data_dic[Vessel_Name]
vessel_data,status = vessels.prepare_vessel_data(vessel_data,ID_columns)   
display(vessel_data)         


# vessels.data_dic[Vessel_Name] = vessel_data

In [ ]:
vessels.data_dic.keys()

In [ ]:
# vesseles_data_dic = vessels.create_data_dic(df)    
tic()    
vessels_info_df,prob_Vessel_Names = vessels.create_info_df1(df,num_lines=200)
toc()

tic()    
vessels_info_df,prob_Vessel_Names = vessels.create_info_df(df,num_lines=200)
toc()

# Special cases for SPIRE

## multiple Vessel_Names Or None per MMSI

In [ ]:
MMSI = vessels.prob_dic['MMSI']['mutiple'][2]
df_org[df_org['MMSI']==MMSI].to_excel(f'./SPIRE/MMSI_Multi_vessle_names_{MMSI}.xlsx')

MMSI = vessels.prob_dic['MMSI']['none'][2]
df_org[df_org['MMSI']==MMSI].to_excel(f'./SPIRE/MMSI_none_vessle_names_{MMSI}.xlsx')

## multiple IMO's Or None per Vessel_Name

In [ ]:
Vessel_Name = vessels.prob_dic['Vessel_Name']['IMO']['multiple'][2]
df_org[df_org['Vessel_Name']==Vessel_Name].to_excel(f'./SPIRE/Vessel_Name_Multi_IMO_{Vessel_Name}.xlsx')

Vessel_Name = vessels.prob_dic['Vessel_Name']['IMO']['none'][2]
df_org[df_org['Vessel_Name']==Vessel_Name].to_excel(f'./SPIRE/Vessel_Name_none_IMO_{Vessel_Name}.xlsx')
print(Vessel_Name)

# checking whether there are lines with some significant information where Latitude is none

In [ ]:
# are there lines with 
colums_to_check = ['IMO','Accuracy','Heading','COG','Fixing_device','Destination_ID','offset1','ATON_type', 'ATON_name', 'GNSS_status']
for column in colums_to_check:
    df_filt = df.loc[df[column].notna()]
    if (df_filt.loc[df_filt['Latitude'].isna()].shape[0]>0):
        print(f'{column} has some significant lines with Latitude==Nan')
        display(df_filt.loc[df_filt['Latitude'].isna()].head())

In [ ]:
vessel_data = df[df['Vessel_Name']=='M.V SMURF']
def prepare_vessel_data(vessel_data):

    lines_remove = []
    # find lines with duplicate time stamp
    vessel_data = vessel_data.sort_values(by='Time')
    vessel_data = vessel_data.reset_index(drop=True)

    zero_diff_line_numbers = vessel_data[vessel_data['Time'].diff()==pd.Timedelta(0)].index

    # for each duplicants create a combined line and place it in the 
    for line_number in zero_diff_line_numbers:
        check_df = vessel_data.loc[[line_number-1,line_number]]
        combined_row = check_df.iloc[1].combine_first(check_df.iloc[0])



        # vessel_data.loc[zero_diff_line_numbers[0]-1] = combined_row
        vessel_data.loc[line_number] = combined_row

    # keep a reocrd of the removed line
        lines_remove.append(vessel_data['org_index'].loc[line_number-1])

    # remove the 1'st line of the pair
        vessel_data = vessel_data.drop(index=line_number-1)


    # return to the original index    
    vessel_data = vessel_data.set_index('org_index')

## create debug data set

In [ ]:
# get_min_max_dates(df)
# filter_dic = {'Time':['between',('2023-02-01 00:00:01','2023-02-01 12:00:01')]}

# df_filt = filter_df(df,filter_dic)


# get_min_max_dates(df_filt)
# print(df_filt.shape)
# df_aux.export_df(df_filt,'debug_data_base.csv') 
# df1 = vessels.load_data('debug_data_base.csv',columns_list_keep=params['columns_list_keep'],reload=True)

# Export to exell

In [ ]:
if (params['export_to_excel']):
    df_aux.export_df(df, os.path.basename(params['input_csv_file_name_full'].replace('csv','xlsx')),num_lines=10000)

# create data_dic and info_df

In [ ]:

vessels.prob_dic

# get a vessel data

In [ ]:
# vessel_data = get_vessel_data(vessels.data_dic,422)
vessel_data = vessels.get_vessel_data(vessels_info_df.index[2])
vessel_data

## filtering the vessles Df

In [ ]:
filter_dic = {
        'len':['between',(700,800)],
        'min_Longitude': ('between', (40.0, 50.0)),        
      #   'mean_time_diff[mins]':['==',13],
        'min_time':['between',('2023-02-01 00:00:00','2023-02-01 00:01:39')]
              }

filter_dic = {
          'max_time_diff[mins]':['<=',30]
          }

vessels_df_filt = filter_df(vessels.info_df, filter_dic)

# Save the vessel_data to a jason file

In [ ]:
vessel_data_jason_file_path = '.\\data'

In [ ]:

save_vessels_data_to_geojson(vessels_df_filt,vessel_data_dic,vessel_data_jason_file_path)

## plot some statistis

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def plot_vessels_df_statistics(df, columns, bins=10):
    """
    Plots histograms of specified columns in a DataFrame as subplots.

    df (pd.DataFrame): The DataFrame containing the data.
    Parameters:
    columns (list): List of column names to plot.
    bins (int): Number of bins for the histograms.
    """
    num_columns = len(columns)
    num_rows = (num_columns + 1) // 2  # Calculate number of rows needed for subplots

    fig, axes = plt.subplots(num_rows, 2, figsize=(12, num_rows * 4))
    axes = axes.flatten()  # Flatten the axes array to easily iterate over it

    for i, column in enumerate(columns):
        try:
            if column in df.columns:
                axes[i].hist(df[column], bins=bins, edgecolor='black')
                axes[i].set_title(f'Histogram of {column}')
                axes[i].set_xlabel(column)
                axes[i].set_ylabel('Frequency')
            else:
                axes[i].text(0.5, 0.5, f'Column {column} not found', ha='center', va='center')
                axes[i].set_title(f'Histogram of {column}')
                axes[i].set_xlabel(column)
                axes[i].set_ylabel('Frequency')
        except:
            print(f'could not plot {column}')
            
    # Remove any unused subplots
    for j in range(i + 1, len(axes)):
        fig.delaxes(axes[j])

    plt.tight_layout()
    plt.show()
    

columns_to_plot = ['field1', 'field2', 'field3']

plot_vessels_df_statistics(vessels_df, ['len','min_time_diff[mins]'], bins=100)

# Save the vessel_data to a jason file

In [ ]:
vessel_data_jason_file_path = '.\\data'

In [ ]:

save_vessels_data_to_geojson(vessels_df_filt,vessel_data_dic,vessel_data_jason_file_path)

# plots of vessel data

In [ ]:

vessel_data = get_vessel_data(vessel_data_dic,MMSI)
plot_df_column_vs_time(vessel_data,column_name='Longitude')

In [ ]:
grouped = df.groupby('MMSI')

# Create a dictionary to store each vessel's data
vessel_data_dic = {vessel_MMSI: group for vessel_MMSI, group in grouped}